@model IEnumerable<DokterPraktekV3.MedicalHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sickness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckUpPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sickness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckUpDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckUpPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
